* {
  box-sizing: border-box;
}

body {
  background: rgb(30, 76, 104);
  background: linear-gradient(
    90deg,
    rgb(14, 18, 122) 0%,
    rgb(88, 41, 190) 53%,
    rgb(135, 151, 255) 100%
  );
}
.box {
  width: 500px;
  height: auto;
  margin-top: 30px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 10px;
  display: block;
 
  
}
.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.task {
  justify-items: baseline;
  font-family: " Tahoma, Geneva, Verdana, sans-serif";
}
.close {
  position: relative;
  padding: 12px 18px 12px 18px;
}

.close:hover {
  background-color: #312eff;
  color: white;
  border-radius: 5px;
}
.myUL {
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li {
  margin: 2px;

  position: relative;
  box-shadow: transparent 2px 2px rgb(134, 134, 134);
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #bddeff;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btnAll {

}
